<div class="main-container">
  <div style="flex-direction: row; display: flex">
    <p>{{ getCustomerFullName() }}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let customer of customers">
        <button mat-menu-item (click)="selectCustomer(customer)">
          <mat-icon>{{ selectedCustomer?.id === customer.id ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
          <span>{{ customer.firstName }} {{customer.lastName}}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>

  <div  style="flex-direction: row; display: flex; align-items: center">
    <form style="height: 75px;">
      <mat-form-field class="example-full-width" style="height: 100%;">
        <mat-label>Initial Balance</mat-label>
        <input matInput type="number" placeholder="Ex. 100"  min="0" [(ngModel)]="initialBalance" name="balance" style="height: 100%;">
      </mat-form-field>
    </form>
    <button (click)="createAccount()" mat-flat-button>Create Account</button>
  </div>

  <div id="accounts" style="padding: 20px">

    <mat-accordion>
      <mat-expansion-panel *ngFor="let account of accounts" (opened)="selectAccount(account)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account Id: {{account.id}}
          </mat-panel-title>
          <mat-panel-description>
            Balance: {{account.balance}} | Created At: {{account.createdAt}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>
